/* PHASE 7: Online */
.online {
    position: absolute;
    top: -10px;
    transform: rotate(-45deg) translateX(-25%);
    left: -10px;
    color: #fff;
    background-color: #0c0;
    padding: 5px 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    box-shadow: 0 1px 0 0 #070;
}

.profile-picture {
    overflow: hidden;
}